[Desktop Entry]
Type=Application
Name=MusiCalc
Comment=Music Calculator Utility
Exec=/usr/local/bin/musicalc
Icon=musicalc
Terminal=false
Categories=Utility;Audio;
StartupWMClass=MusiCalc v0.8.6
